/**
 * CSS to go with our lunch webview
 * @since 1.0
 * @author Marius Kristensen
 */
html 				{ height: 100%; }
body 				{ color: #ffffff; background-color: #000; height: 98%; margin: 0; position:relative; }
#header 			{ text-align: center; margin: 5px 5px 10px; color: #ffffff; font: 1.4em 'RobotoThin'; border-bottom: 1px solid #33B5E5; }
#menu 				{ height: 100%; margin: 0 5px 0 5px;}
.information 		{ text-align: center; margin:40px; font-size: 0.8em; }
.container 			{ position:relative; height: 75px; }
.day 				{ color: #33B5E5; width: 30px; font: 3.5em 'RobotoThin'; position: absolute; bottom: -10px; }
.dish 			    { font: 1.0em 'Arial'; color: #ffffff; float: left; position: absolute; bottom: 0; left: 50px; }
.today 				{ border-bottom: 1px solid #33B5E5; }
#controls 			{ text-align: center; margin-top: 40px;}
.hidden 			{ display: none; visibility: hidden; }
#timestamp 			{ position:absolute; bottom:5px; font-size: 0.8em; color: #505050; }
#about              { font: 1.0em 'Arial'; color: #ffffff; text-align: center; margin-top: 15px; }


@font-face {
    font-family: 'RobotoThin';
    src: url('Roboto-Thin-webfont.woff') format('woff'),
    url('Roboto-Thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}